.el-carousel__indicator{
    padding:12px 10px;
}

.el-carousel__button{
    width: 15px;
    height: 15px;
    border-radius: 7.5px;
}

.el-carousel__indicators--outside button{
    background-color: rgb(106, 165, 221);
}

.el-pager li{
    border: 1px solid #d1dbe5;
    border-right: 0;
    height: 35px;
    line-height: 35px;
}

.el-pagination button, .el-pagination span:not([class*=suffix]){
    height: 35px;
    line-height: 35px;
}

.el-pager li.btn-quicknext, .el-pager li.btn-quickprev{
    line-height: 35px;
}

.el-pagination .btn-next, .el-pagination .btn-prev{
    border: 1px solid #d1dbe5;
}

.el-pagination .btn-prev{
    border-right: 0;
}

.el-pager li.active{
    border-color: #20a0ff;
    background-color: #20a0ff;
    color: #fff;
}

.el-textarea .el-textarea__inner{
    font: 400 13.3333px Arial;
}