.login_hover {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(201, 199, 199, 0.6);
}

.login_overflow{
    overflow: hidden;
}

.login_popupBox {
    position: absolute;
    width: 450px;
    height: 300px;
    background-color: #ffffff;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.4), 0 0 6px 0 rgba(0,0,0,.1);
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -225px;
}

.login_popupBox_woker {
    position: absolute;
    width: 400px;
    height: 300px;
    background-color: #ffffff;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.4), 0 0 6px 0 rgba(0,0,0,.1);
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -200px;
}

.login_popupBox_title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    /* border-bottom: 2px solid #0F639A; */
    line-height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.login_popupBox_title_span {
    margin-left: 15px;
    font-size: 15px;
    display: inline-block;
}

.login_popupBox_title_close {
    margin-right: 10px;
    font-size: 21px;
    color: #9B9B9B;
    display: inline-block;
}

.login_popupBox_title_close:hover {
    color: #0A76C1;
}

.login_popupBox_content {
    position: absolute;
    top: 40px;
    left: 20px;
    right: 20px;
    bottom: 40px;
}

.login_popupBox_content_title{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    color: #0A76C1;
}

.login_popupBox_content_main{
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 50px;
}

.login_popupBox_content_picture{
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login_popupBox_img{
    height: 200px;
    width: 200px;
}

.login_popupBox_content_main_addLog{
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 30px;
    display: flex;
    align-items: flex-end;
}

.login_popupBox_content_main_item{
    position: relative;
    height: 40px;
    width: 100%;
    margin-top: 15px;
}

.login_popupBox_content_main_item_left{
    float: left;
    width: 20%;
    height: 100%;
    text-align: right;
    line-height: 40px;
    font-size: 15px;
}

.login_popupBox_content_main_item_right{
    float: left;
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.login_popupBox_content_main_item_right_select{
    position: relative;
    float: left;
    width: 80%;
    height: 100%;
    text-align: left;
    line-height: 40px;
}

.login_popupBox_content_main_item_right_addLog{
    float: left;
    width: 80%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.login_popupBox_content_main_item_right_input{
    width: 180px;
    height: 28px;
    border: 1px solid #EEEEEE;
    padding: 0 10px;
    margin-left: 10px;
    border-radius: 5px;
}

.login_popupBox_content_main_item_right_input:focus{
    border: 1px solid #5C9ED7;
}

.login_popupBox_content_main_item_right_a{
    display: inline-block;
    width: 100px;
    margin-left: 10px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border: 1px solid #5A9AD5;
    color: #5A9AD5;
    border-radius: 4px;
    cursor: pointer;
    font-size: 13px;
}

.login_popupBox_content_main_item_right_a--wait{
	border: 1px solid #D5D5D5;
	color: #D5D5D5;
}

.login_popupBox_content_bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_popupBox_content_bottom_addLog{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_popupBox_bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #f7f7f7;
}

.login_popupBox_bottom_a{
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
    color: #909090;
}

.login_popupBox_bottom_a:hover{
    color: #0A76C1;
}

.login_popupBox_button {
    width: 70px;
    height: 22px;
    line-height: 22px;
    font-size: 14px;
    border-radius: 3px;
    background-color: #5A9AD5;
    border: 1px solid #5A9AD5;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
}

.login_popupBox_button:hover {
    background-color: #50A5F5;
}

.choose_popupBox_content_left{
    position: absolute;
    top: 40px;
    left: 0;
    bottom: 0;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center
}

.choose_popupBox_content_right{
    position: absolute;
    top: 40px;
    right: 0;
    bottom: 0;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center
}

.choose_popupBox_a{
    cursor: pointer;
}

.choose_popupBox_a:hover{
    color: #0A76C1;
}